@import url("header.css");
@import url("reset.css");
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');


/* 네비게이션 바 */
#navbar {
    width: 70%; /* 100% - 15% (left) - 15% (right) = 70% */
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: center;

}

/* 로고 이미지 */
nav img {
    width: 25px;
    height: auto;
}

#navbar a {
    color: black;
    cursor: pointer;
    margin-right: 3rem;
    margin-left: 1rem;
}

/* 로고 글씨 */
a span {
    position: relative;
    font-family: "nanumgothic";
    font-size: 17px;
    font-weight: bold;
    bottom: 5px;
}

a span:hover {
    color: grey;
}

/* 포스트 */
section {
    width: 70%; /* 100% - 15% (left) - 15% (right) = 70% */
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3rem;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.post-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
}

.post-card h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-card a {
    text-decoration: none;
    color: #333;
}
.post-card p {
    font-size: 1rem; /* 글꼴 크기를 1rem로 설정 */
    color: #666; /* 글자 색상을 #666으로 설정 */
    margin-bottom: 40px; /* 아래쪽 여백을 40px로 설정 */
    flex-grow: 1; /* flexbox 내부에서 남은 공간을 차지하게 설정 */
    height: 150px; /* 고정 높이를 150px로 설정 */
    overflow: hidden; /* 내용이 넘치면 숨기기 */
    position: relative; /* 자식 요소의 위치를 상대적으로 설정 */
    line-height: 1.5em; /* 줄 간격을 1.5em로 설정 */
    max-height: calc(1.5em * 5); /* 최대 높이를 5줄의 높이로 설정 */
}

.post-card p::after {
    content: '...'; /* 넘치는 부분에 말줄임표(...) 추가 */
    position: absolute; /* 위치를 절대적으로 설정 */
    bottom: 0; /* 하단에 위치 */
    right: 0; /* 오른쪽에 위치 */
    background: white; /* 배경 색상을 흰색으로 설정 */
    padding-left: 10px; /* 말줄임표 앞에 10px 간격 추가 */
}

.post-meta1 span {
    display: flex;
    font-size: 0.8rem;
    color: darkgray;
}
#created {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1rem;
}
.post-meta2 {
    display: flex; /* Flexbox 설정 */
    justify-content: space-between; /* 내부 요소들을 좌우에 분배 */
    align-items: center; /* 세로 가운데 정렬 */
}
.post-meta2 span {
    top : 5px;
    font-size: 0.8rem;
    color: darkgray;
}
#like{
    color : black;
    margin-left: auto;
}
/* 페이징 처리 */
#page{
}
#pageNumber{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 5rem;

}
#num{
    background-color: black;
    color: white;
    padding: 2px 5px;
    margin-right: 10px;
}