@import url("header.css");
@import url("reset.css");

/* 포스트 보기 섹션 */
#postView {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2rem auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#postForm {
    border: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#title {
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F5F3F7;
    box-sizing: border-box;
    padding: 15px;
}

#authorAndCreated {
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 16px;
    color: #666;
}

#author {
    font-weight: bold;
    margin-right: 2rem;
}

#created {
    font-weight: normal;
}

span#tags {
    display: inline-block;
    width: max-content;
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    background: #8B5FBF;
    color: white;
    margin-bottom: 1.5rem;
}

#contents {
    margin: 0;
    line-height: 1.6;
    padding-bottom: 15rem;
}

#buttons {
    border: none;
    display: flex;
    justify-content: flex-end; /* 모든 버튼을 오른쪽으로 정렬 */
    gap: 10px;
    margin-top: 20px;
}

#buttons a {
    color: white;
    text-decoration: none;
}

#modifyBtn,
#deleteBtn {
    border: none;
    background-color: black;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

/* 댓글 컨테이너 */
#comment_container {
    width: 60%;
    margin: 2rem auto;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#commentForm {
    width: calc(100% - 22px);
    padding: 10px 10px 30px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: space-between; /* 아이템을 양쪽 끝으로 정렬 */
    align-items: center; /* 아이템을 세로 중앙 정렬 */


}

#commentBtn {
    display: flow;
    background-color: #8B5FBF;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto; /* 이 부분을 확인하여 오른쪽 정렬되도록 설정 */
}


#commentList {
    margin-top: 20px;
}

#comments {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5F3F7;
}

#comments p {
    margin: 0;
    padding: 10px 0;
    background-color: #F5F3F7;

}

#commentAuthor {
    font-weight: bold;
    color: #333;
}
