<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>로그인 후 헤더</title>
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>

<!--로그인 후 보일 화면-->
<header th:fragment="header_after_login">
    <div id="login">
        <img id="logoImg" src="/img/logo.png" alt="메인 로고" width="90" height="90">
        <p id="siteName">VELOG STORE</p>
        <form action="/search" method="GET" id="searchForm">
            <div class="search-container">
                <input id="searchVal" type="text" placeholder="검색어를 입력하세요" name="search">
                <button id="searchBtn" type="submit"></button>
            </div>
        </form>
<!--  드롭 다운 메뉴 -->
        <div class="dropdown">
            <button class="dropbtn" th:text="|${#authentication.principal.username} 님|">
            </button>
            <div class="dropdown-content">
                <a th:href="@{'/@' + ${#authentication.principal.username}}">마이페이지</a>
                <a href="/postform">새 글 작성</a>
                <a href="#">임시 글</a>
                <a th:href="@{'/@' + ${#authentication.principal.username} +'/settings'}">설정</a>
            </div>
        </div>
        <button id="loginBtn"><a href="/logout"> 로그아웃</a></button>

<!--        <button id="toggle-button"><a th:href="@{'/@' + ${#authentication.principal.username}}"-->
<!--                                      th:text="|${#authentication.principal.username} 님|"/></button>-->
<!--     -->
    </div>
    <script>
        document.getElementById("searchBtn").addEventListener('click', function (event){
            event.preventDefault(); // 기본 폼 제출 동작을 막음
            let search = document.getElementById("searchVal").value;
            search = encodeURIComponent(search);
            document.getElementById('searchForm').action = `/search?search=${search}`;
            document.getElementById('searchForm').submit(); // 폼을 수동으로 제출
        });
    </script>
</header>

</body>
</html>
