<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/scripts/logo.js"></script>
    <title>Blog</title>
</head>

<body>
<!--로그인 전에 보여질 header-->
<div sec:authorize="!isAuthenticated()">
    <div th:replace="~{header_before_login :: header_before_login}"></div>
</div>

<!--로그인 후에 보여질 header-->
<div sec:authorize="isAuthenticated()">
    <div th:replace="~{header_after_login :: header_after_login}"></div>

</div>

<!--네비게이션 바-->
<nav id="navbar">

    <a th:href="@{${recentUrl}}" id="recent">
        <img src="/img/recent.png" alt="최근 로고">
        <span>최신</span>
    </a>

    <a href="/popular" id="popular">
        <img src="/img/popular.png" alt="인기 로고">
        <span>인기</span>
    </a>

    <a href="/bookmark" id="bookmark">
        <img src="/img/bookmark.png" alt="즐겨찾기 로고">
        <span>즐겨찾기</span>
    </a>
</nav>

<!-- 게시글 -->
<section>
    <div th:if="${!posts.empty}" class="post-container">
        <!-- posts 리스트를 순회하며 각각의 Post 객체를 출력 -->
        <div th:each="post : ${posts}" class="post-card">
            <a th:href="@{'/@' + ${post.username} + '/' + ${#strings.replace(post.title, ' ', '-')}}">
                <h1 th:text="${post.title}"></h1>
                <p th:text="${post.contents}">내용</p>
                <div class="post-meta1">
                    <span id="created" th:text="|${#temporals.format(post.created,'yyyy년 MM월 dd일')} &nbsp; 0개의 댓글|">글 등록 날짜</span>
                </div>
                <div class="post-meta2">
                    <span id="author" th:text="|by. ${post.username}|">작성자</span>
                    <span id="like" th:text="'&#x2764; ' + ${post.likeCount}">좋아요</span>
                </div>
            </a>
        </div>
    </div>
</section>
<section>
    <!--페이징 처리 부분-->
    <div class="page" th:if="${posts != null and not #lists.isEmpty(posts)}">
        <ul id="pageNumber">
            <li th:each="i : ${#numbers.sequence(1, posts.totalPages)}">
                <a id="num" th:href="@{${url}(page=${i})}" th:text="${i}"></a>
            </li>
        </ul>
    </div>
</section>


<script>

    document.getElementById("logoImg").onclick = function () {
        window.location.href = "/"; // /home으로 페이지 이동
    };

</script>
</body>
</html>