<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/login.css">

    <script src="/scripts/loginValidation.js" defer></script>
</head>
<body>
<!--로그인 전에 보여질 header-->
<div sec:authorize="!isAuthenticated()">
    <div th:replace="~{header_before_login :: header_before_login}"></div>
</div>

<!--로그인 후에 보여질 header-->
<div sec:authorize="isAuthenticated()">
    <div th:replace="~{header_after_login :: header_after_login}"></div>

</div>


<!-- 아이디 입력창, 암호 입력창, 로그인 버튼 -->
<div id ="loginPage">
    <form action="/api/login" method="post" class="loginForm">
        <fieldset>
            <legend>로그인</legend>
            <br>
            <label for="username">아이디</label>
            <input placeholder="아이디를 입력하세요." id="username" name="username" type="text" required><br>
            <label for="password">비밀번호</label>
            <input placeholder="비밀번호를 입력하세요." id="password" name="password" type="password"><br>
            <input type="submit" value="로그인" id="loginButton">
        </fieldset>
    </form>
    <br>
    <span>계정이 없으신가요? <button id="joinBtn"><a href="/signup">회원 가입</a></button></span>
</div>
<script>

    document.getElementById("logoImg").onclick = function () {
        window.location.href = "/"; // /home으로 페이지 이동
    };

</script>
</body>
</html>
