<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <!-- ck에디터 소스 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <!--    이미지 업로드 어댑터-->
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <script src="/scripts/ko.js"></script>
    <script src="/scripts/writePost.js" defer></script>
    <script src="/scripts/postEditor.js" defer></script>
    <link rel="stylesheet" href="/css/post.css">
    <title>글쓰기</title>

</head>
<body>
<div id="postFormContainer">
    <form action="/api/postform" method="post" id="postForm">
        <input type="text" name="post_title" id="post_title" placeholder="제목을 입력하세요"><br>
        <hr>
        <input type="text" name="post_tag" id="post_tag" placeholder="태그를 입력하세요"><br>
        <input type="text" name="post_series" id="post_series" placeholder="시리즈를 입력하세요">
        <div id="post_content"></div>
        <div id="post_submit_container">
            <input type="submit" id=post_submit value="출간하기">
        </div>
    </form>

<!--    <form class="inputImg" method="post" enctype="multipart/form-data"> &lt;!&ndash; 이미지 파일 데이터에 알맞는 enctype 설정 &ndash;&gt;-->
<!--        <div class="addImage" id="image-show"> &lt;!&ndash; 이미지 띄울 공간 &ndash;&gt;-->
<!--        </div>-->
<!--        <input type="file" accept="image/*" onchange="loadFile(this)">-->
<!--    </form>-->
</div>

</body>
</html>